// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// purple bliss gradient
$purple-bliss-top: #0b0036;
$purple-bliss-middle: #464ceb;
$purple-bliss-bottom: #0b5d93;


// neon colour scheme
$pink: #FFACFC;
$neon-pink: #F148FB;
$magenta: #7122FA;
$dark-magenta: #560A86;
