<div class="footer d-flex align-content-space-between sticky-bottom">
  <div class="footer-the-rock">
    <%= link_to "https://www.youtube.com/watch?v=C-9_lRn5yM0>", target: "_blank" do %>
      <%= image_tag("/assets/minitherock2.png", width: "30px") %>
    <% end %>
  </div>
  <div class="footer-links">
    <a href="#">RockyRental</a>
  </div>
  <div class="footer-copyright">
    this page was made with love.... our insatiable love for rocks
  </div>
</div>
