
<div class="bookings-container my-5">
  <h1> Reserve your dream Rock now! </h1>
  <div class="bookings-spacing d-flex justify-content-around align-items-center my-5">
    <img class="img-fluid" src="/assets/minitherock.png" alt="Card image cap" style="height: 350px; object-fit: cover;">
    <div class="select-dates">
      <%= simple_form_for [@rock, @booking] do |f| %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.submit "Request Booking", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
