<h1>Hooray we have dashboard</h1>

<% @bookings.each do |booking| %>
<div>
  <%= booking.start_time %>
  <%= link_to "Delete", booking_path(booking), class:"btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% if (booking.end_time < Time.now && booking.review.nil?) %>
    <%= link_to "Write a Review", new_booking_review_path(booking), class: "btn btn-primary" %>
  <% end %>
  </div>
<% end %>



<%# Modal to add a new rock %>


<div class="modal fade" id="newRockModal" tabindex="-1" role="dialog" aria-labelledby="newRockModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%#= simple_form_for(@rock) do |f| %>
        <div class="modal-header">
            <h5 class="modal-title" id="newRockModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%#= f.input :rock_type %>
            <%##input :daily_price %>
            <%#= f.input :description %>
            <%#= f.input :photo, as: :file %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%#= f.submit "Add Rock" %>
          </div>
        </div>
      <%# end %>
  </div>
</div>
